body {
  background: #ebfafa;
}

.jumbotron {
  border-radius: 0px;
}

img {
  width: 200px;
  margin: 10px;
}

button {
  border: solid black 1px;
  margin: 5px;
  background: blue;
  color: white;
}